<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h2 class="heading">About Me</h2>
            </div>
            <div class="col-md-8">
                <p>
                    Hello! I'm Yue Shu, a recent graduate of MSIT program at Bentley University with experience developing creative solutions using art and computer science. Proficient in an array of scripting languages, multimedia Web tools and back-end databases. Passionate about Machine Learning and cloud computing, a true believer in Agile development.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End #about -->
<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="July 2017 – Present">
            <h3>JRS Strategies Consulting</h3>
            <h4>Web Developer Intern</h4>
            <p>
                Designed, coded and modified websites while meeting client specifications, helped clients increase 36% of website traffic on average. Coordinated with web designers to match visual design intent. Integrated data from various back-end services and databases.
            </p>
        </div>
        <div data-date="March 2016 – Present">
            <h3>UpWork</h3>
            <h4>Freelance Web Developer</h4>
            <p> Designed an administrative web portal for a sports company, increased internal employee satisfaction scores by 30%. Migrated a real estate website to WordPress, boosted website traffic by 42% with implementation of Facebook Advertisements pixels. Created a donation page for a non-profit organization website with Security Socket Layer installation and raised donations by 38%.
            </p>
        </div>
        <div data-date="August 2016 – December 2017">
            <h3>CIS Sandbox, Bentley University</h3>
            <h4>Student Manager | Tutor</h4>
            <p>
                Assisted in managing the CIS Sandbox for around 30 tutors with scheduling, training, website maintenance and general administrative tasks. Tutored undergraduate and graduate students web development, Excel and Java courses. Also wrote technology blogs and made tutorial videos for Microsoft Access, Excel and Java.
            </p>
        </div>
        <div data-date="July 2015 – May 2016">
            <h3>Miami University</h3>
            <h4>IT Project Associate</h4>
            <p>
                Constructed project plan using MS Project and SmartSheet, and ensured that team adhered to the established process and procedures. Co-led implementation of personnel and financial databases of Business School, built dashboards for admission and benchmarking purposes using Tableau and Oracle BI, increased admission rate by 28%.
            </p>
        </div>
        <div data-date="August 2015 – March 2016">
            <h3>FSB Higgin Kim Asia Business Program</h3>
            <h4>Business Researcher | Teaching Assistant</h4>
            <p>
                Researched current Asia business environment and fast-growing Asian countries with rapid developing economy, also as a TA for Network Communication courses.
            </p>
        </div>
        <div data-date="May 2014 – August 2014">
            <h3>China Mark Trading Ltd.</h3>
            <h4>Database Administrative Assistant</h4>
            <p>
                Performed data manipulations, mapping, conversion, and validations utilizing SQL and proprietary solutions. Produced, presented reports and assisted with general analysis of data.
            </p>
        </div>
    </div>
</div>
<!-- End #experience -->
<div id="education">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>Bentley University, Waltham, MA</h3>
        <span class="education-date">August 2016 - May 2018</span>
        <h4>M.S in Information Technology</h4>
    </div>
    <!-- End .education-block -->
    <div class="education-block">
        <h3>Miami University, Oxford, OH</h3>
        <span class="education-date">August 2011 - May 2015</span>
        <h4>B.S in Management Information Systems</h4>
        <ul>
            <li>
                Awarded: Dean's List 2012-2013
            </li>
            <li>
                Awarded: Dean's list 2013-2014
            </li>
        </ul>
    </div>
    <!-- End .education-block -->
</div>
<!-- End #education -->
<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="images/mini.png" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>A Collection of JavaScript Projects</h3>
                    <p>
                        <p>
                            <Strong>Drumkit</Strong>, using different keys to create your own beats at your fingertips. </br>
                            <strong>Whack-a-mole</strong>, a vintage game created using plain JavaScript for fun. </br>
                            <strong>Shopping List</strong>, a beautifully-designed grocery shopping list with local storage. </br>
                            <strong>Canvas</strong>, a blank canvas where you can draw with colors right away in your browser. </br>
                            <strong>Animated clock</strong>, a digital clock using CSS3 animation.
                        </p>
                        <a href="miniprojects/drumkit/index.html" target="_blank">DrumKit</a> |
                        <a href="miniprojects/whackamole/index.html" target="_blank">Whack-a-Mole</a> |
                        <a href="miniprojects/shoppinglist/index.html" target="_blank">Shopping List</a> |
                        <a href="miniprojects/canvas/index.html" target="_blank">Canvas</a> |
                        <a href="miniprojects/animatedclock/index.html" target="_blank">Animated Clock</a>
                    </p>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
        </div>
        <div class="project shadow-large">
            <div class="project-image">
                <img src="images/sandbox.jpg" />
            </div>
            <!-- End .project-image -->
            <div class="project-info">
                <h3>Sandbox Go</h3>
                <p>
                    Sandbox Go is an Android application my teammates and I created for Bentley students. Users are able to choose desired time slots and courses that they need help with to find a matching tutor. Sandbox Go is synced with official CIS Sandbox scheduling calendar at real time; google maps API is used for users to find Sandbox location easily on their phones.
                </p>
                <a href="https://github.com/SandboxGo/SandboxGo-Android-App" target="_blank">View Project</a>
            </div>
            <!-- End .project-info -->
        </div>
        <!-- End .project -->
        <div class="project shadow-large">
            <div class="project-image">
                <img src="images/sportspro.png" />
            </div>
            <!-- End .project-image -->
            <div class="project-info">
                <h3>SportsPro Technical Support</h3>
                <p>
                    A fully functional Technical Support application written in PHP with MySQL database. Multiple pages and multiple roles supported, including customers, technicians, administrators, product manager and etc. Different roles will have their own access limits to the site and functions, for example, incidents can only be created by technicians, and customers are not able to make edits on any existing business operation data in MySQL database, except for registering the products they purchased.
                </p>
                <a href="https://github.com/yueshu7939/SportsPro/" target="_blank">View Project</a>
            </div>
            <!-- End .project-info -->
        </div>
        <!-- End .project-info -->
    </div>
    <!-- End #projects -->
    <div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            <li>JavaScript</li>
            <li>jquery</li>
            <li>react.js</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap</li>
            <li>Java</li>
            <li>php</li>
            <li>SVG Animation</li>
            <li>SQL</li>
            <li>MySQL</li>
            <li>Tableau</li>
            <li>Oracle BI</li>
            <li>SmartSheet</li>
            <li>Trello</li>
            <li>Microsoft Project</li>
            <li>Database Modeling</li>
            <li>IT Project Management</li>
            <li>WordPress</li>
            <li>Microsoft Office</li>
            <li>SDLC</li>
            <li>Agile Development Methodology</li>
        </ul>
    </div>
    <!-- End #skills -->
</div>
<!-- End .optional-section -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/scripts.min.js"></script>

