@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}

h1,
h2,
h3,
h4,
stong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333;
}

ul,
ol {
    margin: auto 0;
    padding-left: 40px;
}

p,
figure {
    margin: auto 0;
}

a img {
    border: none;
}

sup,
sub {
    line-height: 0;
}